.container {
  --radius: 4px;
  width: 40%;
  height: 63%;
  background: rgb(245, 245, 245);
  position: absolute;
  bottom: 0;
  left: 35%;
  cursor: move;
  box-sizing: border-box;
  z-index: 100;
  border-radius: var(--radius);
  border: 1px solid rgb(238, 238, 238);
}

.dragging {
  opacity: 0;
}

.regular-order {
  padding: 16px 26px;
  background-color: #fff;
  padding-bottom: 30px;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}

.inputs fieldset {
  max-width: 120px;
  border: 0.7px solid #ddd;
  margin-right: 8px;
}

.inputs fieldset legend {
  margin-left: 10px;
  font-size: 0.8rem;
  padding: 0 4px;
}

.inputs fieldset input {
  border: none;
  max-width: 130px;
  min-height: 35px;
  padding: 0 12px;
  font-size: 1.1rem;
}

.inputs fieldset input:focus {
  outline: none;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.buttons span {
  font-size: 0.8rem;
}

/* ---------- BUTTONS ---------- */


.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  padding: 10px 20px;
  border-radius: 2px;

  color: #ffffff;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
}



/* BUY */
.btn-blue {
  background: #4184f3;
}

.btn-blue:hover {
  background: #74a7fa;
}

/* SELL (FIXED) */
.btn-red {
  background: #ff4d4f;
  color: #fff;
}

.btn-red:hover {
  background: #ff7875;
}

/* CANCEL */
.btn-grey {
  background: #d4d4d4;
  color: #666666;
}

.btn-grey:hover {
  background: #9b9b9b;
  color: #fff;
}
